.service .container {
  display: grid;
  gap: 25px;
}

.service-card:nth-child(2) { background-color: var(--bg-chrome-yellow-alpha-5); }

.service-card:nth-child(3) { background-color: var(--bg-red-salsa-alpha-5); }

.service-card:nth-child(4) { background-color: var(--bg-majorelle-blue-alpha-5); }


.service-card {
  padding: 25px 20px;
  border-radius: var(--radius-20);
}

.service-card .card-title { margin-block:  10px 5px; }
