.desti .section-title { margin-block-end: 40px; }

.desti-list {
  display: grid;
  gap: 30px;
}

.desti-card .card-banner {
  position: relative;
  border-radius: var(--radius-30);
}

.desti-card:where(:hover, :focus-within) .img-cover { transform:  scale(1.05); }

.desti-card .card-price {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--bg-white);
  color: var(--text-majorelle-blue);
  font-weight: var(--weight-bold);
  font-size: 1.8rem;
  line-height: 1.45;
  padding: 5px 15px;
  border-radius: var(--radius-pill);
}

.desti-card .card-title {
  margin-block: 15px 5px;
  transition: var(--transition-1);
}

.desti-card .card-title:where(:hover, :focus-visible) { color: var(--text-majorelle-blue); }

.desti-card :where(.card-rating, .span) {
  display: flex;
  align-items: center;
}

.desti-card .card-rating {
  margin-block-start: 10px;
  gap: 10px;
}

.desti-card .card-rating .span {
  background-color: var(--bg-sunglow-alpha-10);
  gap: 5px;
  padding: 4px 12px;
  border-radius: var(--radius-pill);
}

.desti-card .card-rating .icon { color: var(--text-sunglow); }

.desti .btn {
  margin-inline: auto;
  margin-block-start: 40px;
}
